.confirmation_modal.versionTwo.mainGame {
  width: 35vw;
}

.exitGameContainer {
  position: fixed;
  z-index: 1000000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.exitGame {
  rotate: 180deg;
  color: rgb(44, 84, 143);
  transition: 0.15s ease-in-out;
}

.exitGame:hover {
  scale: 1.1;
  cursor: pointer;
}
.no-scroll {
  overflow-y: hidden;
}

.error {
  color: red;
}

/* *{outline: 1px solid red;} */
.preGameSetupLayout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* grid-template-areas: "left right "; */
  width: 100%;
}

.preGameSetupContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  background-color: #bdb6ab;
  padding: 2%;
}
.playButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 20px;
}
.playButtonContainer .playButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(112, 112, 112);
  border-radius: 10px;
  border: rgb(47, 47, 47) 5px solid;
  color: white;
  font-size: 20pt;
  height: 100%;
  width: 20%;
  scale: 0.9;
  cursor: default;
}

.playButtonContainer .playButton.startGame {
  border: rgb(4, 174, 4) 5px solid;
  background-color: rgb(27, 211, 27);
  transition: 0.15s ease-in-out;
  scale: 1;
}

.playButtonContainer .playButton.startGame:hover {
  scale: 1.1;
  cursor: pointer;
}

.preGameSetup {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2%;
  height: 100vh;
}

.select-container.pregame {
  position: relative;
  width: 100%;
}

.select-container.pregame select {
  appearance: none;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}

.select-container.pregame select::-ms-expand {
  display: none;
}

.select-container.pregame::after {
  content: "\25BC";
  font-size: 14px;
  color: #555;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.select-container.pregame select option {
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
}

.select-container.pregame select:hover {
  border-color: #999;
}

.game-status {
  z-index: 1;
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  right: 320px;
  top: 1px;
  padding: 0.3em;
  /* border: 3px solid black; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  && p {
    font-size: 1.5em;
    font-weight: 200;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

.vote-container {
  background-color: white;
  width: 40vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  border-radius: 10px;
}

.vote-container-inner {
  display: flex;
  justify-content: space-evenly;
  padding: 2em;
  width: 70%;
}
.vote-button {
  padding: 0.7em;
  border-radius: 5px;
  background-color: green;
  color: white;
  font-weight: 600;
  border: none;
}

.btn-false {
  background-color: red;
}

.vote-main-title {
  font-size: 1.5em;
  font-weight: 600;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-5-11 18:37:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.vote-sec-title {
  font-size: 1.2em;
  font-weight: 500;
  animation: jello-horizontal 0.9s both;
}

.vote-button:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.1rem rgb(50, 50, 50));
}

::-webkit-scrollbar {
  display: none;
}

@keyframes shock {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
    color: rgb(171, 5, 5);
  }
  50% {
    transform: translateX(5px);
    color: red;
  }
  75% {
    transform: translateX(-3px);
    color: rgb(252, 109, 109);
  }
  100% {
    transform: translateX(3px);
    color: black;
  }
}

.totalCardsSelectedContainer.errorAnimation {
  animation: shock 0.3s ease-in-out 1;
}
.totalCardsSelectedContainer {
  display: flex;
  width: 85%;
  margin: 0 auto;
  height: 50px;
  justify-content: space-between;
  align-items: flex-end;
}

.totalCardsSelectedContainer .text {
  font-size: 13pt;
  font-weight: 500;
}

.totalCardsSelectedContainer .amountSelected {
  font-weight: 800;
  font-size: 18pt;
}
/* *{outline:1px solid red} */

.playerNameInputContainer {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.playerNameInputFlex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.playerNameInput {
  width: 48%;
}

.playerNameInput input {
  width: 100%;
  height: 50px;
  font-size: 12pt;
}

.preGameSetupLayoutCards {
  width: 100%;
}

.preGameMissionCardsContainer_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.preGameMissionCardsContainer {
  padding: 20px;
  /* gap: 20px; */
  height: 80vh;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(auto-fill, 375px);
  grid-gap: 20px;
  overflow-y: scroll;
}

.preGameMissionCardsContainer .missionCard {
  filter: brightness(95%);
}

.preGameMissionCardsContainer .missionCard.selectedCard {
  /* scale: 1.035;*/
  filter: brightness(100%);
  border-radius: 10px;
  outline: 5px solid rgb(0, 106, 255);
}

.preGameMissionCardsContainer .missionCard {
  transition: 0.1s ease-in-out;
}

.preGameMissionCardsContainer .missionCard:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.turnTypeContainer {
  display: flex;
  flex-direction: column;
}

.maxRoundsContainer {
  margin: 2em 0;
}

.maxRoundsContainer input[type="number"] {
  width: 100%;
  height: 50px;
  font-size: 12pt;
}

.cardDecks {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.cardDecks .cardDeck {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: 0.15s ease-in-out;
}

.cardDecks .cardDeck:hover {
  scale: 1.05;
  cursor: pointer;
  filter: contrast(1.12);
}

.cardDecks .cardDeck.DISABLED:hover {
  scale: 1;
  cursor: not-allowed;
  filter: grayscale(100%);
}

.cardDeck .card_icon {
  width: 50px;
}

.cardDecks .cardDeck.assessment.format {
  background-color: rgb(155, 215, 154);
  border: 5px solid rgb(145, 205, 144);
}

.cardDecks .cardDeck.assessment.timing {
  background-color: rgb(241, 144, 40);
  border: 5px solid rgb(240, 134, 30);
}

.cardDecks .cardDeck.assessment.artefact {
  background-color: rgb(219, 41, 78);
  border: 5px solid rgb(209, 31, 68);
}

.cardDecks .cardDeck.context {
  background-color: rgb(251, 124, 163);
  border: 5px solid rgb(241, 114, 153);
}

.cardDecks .cardDeck.the.assessor {
  background-color: rgb(135, 104, 175);
  border: 5px solid rgb(125, 94, 165);
}

.cardDecks .cardDeck.who.is.assessed {
  background-color: rgb(53, 115, 151);
  border: 5px solid rgb(43, 105, 141);
}

.cardDeckCategoryText {
  margin-top: 1px;
  font-size: 8pt;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categoryDotLength {
  font-size: 6pt;
}

/* Main Game */

.mainGameAssessmentCardsContainer,
.mainGameMissionCardsContainer {
  display: flex;
  justify-content: space-around;
}

.assessmentCardsGrid {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-gap: 20px;
  margin-top: 20px;
}

.missionCardsGrid {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  grid-template-rows: repeat(auto-fill, 330px);
  grid-gap: 20px;
  /* outline: 1px solid red; */
}

.assessmentCardItem,
.missionCardItem {
  width: 100%;
}

.missionCardItem.noMissionCardSelected {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 15px solid #ffe192;
  border-radius: 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 0.5fr 2.4fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "MainGame HandAndActions"
    "MainGame HandAndActions"
    "MainGame HandAndActions";
  height: 100vh;
}

.HandAndActions {
  grid-area: HandAndActions;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 2%;
  /* border-left: 1px solid gray; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  overflow-y: scroll;
}

.MainGame {
  grid-area: MainGame;
  overflow-y: scroll;
  max-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.MainGame .backButton {
  width: 150px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.mainGameAssessmentCardsContainer,
.mainGameMissionCardsContainer {
  transform: scale(1);
  margin: 1% 0;
}

.mainGameMissionCardsContainer {
  transform: scale(1);
}
.mainGameAssessmentCardsContainer {
  width: 100%;
  margin-top: 35px;
  transform: scale(1);
}

.cardInHand {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.cardInHand .notDrawedACard {
  width: 87%;
  filter: brightness(70%);
  /* visibility: hidden; */
}

.cardInHand .drawACard {
  width: 280px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  animation: pulse 0.3s infinite alternate;
  position: relative;
  bottom: 170px;
}

@keyframes pulse {
  from {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.7);
  }
  to {
    transform: scale(1.06);
    background-color: rgb(54, 56, 57);
  }
}

.actions {
  display: flex;
  gap: 2px;
  flex-direction: column;
  width: 100%;
  && p {
    font-size: 1.5em;
    font-weight: 600;
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }
}

.action,
.noVote {
  display: flex;
  align-items: center;
  gap: 0.17em;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding: 1%;
  text-align: center;
  transition: 0.15s ease-in-out;
  z-index: 99999999;
  font-weight: 400;
}

.action:hover {
  scale: 1.024;
  cursor: pointer;
}

.action.callVote,
.noVote.callVote {
  background-color: rgb(33, 173, 33);
  font-weight: 650;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 3px solid rgb(27, 93, 27);
}

.noVote.callVote {
  background-color: rgb(112, 112, 112);
  border: rgb(47, 47, 47) 5px solid;
  color: white;
}

.playersInGame {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}

.playersInGame .player {
  background-color: rgb(65, 65, 65);
  color: white;
  padding: 2%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
/* *{outline: 1px solid red;} */

.player.currentPlayer {
  border: 3px solid #05ff00;
}

.HandAndActions:hover .playersInGame::before,
.HandAndActions:hover .cardDecks::before,
.HandAndActions:hover .cardInHand::before,
.HandAndActions:hover .actions::before {
  opacity: 1;
}

.playersInGame::before,
.cardDecks::before,
.cardInHand::before,
.actions::before {
  position: absolute;
  rotate: 270deg;
  font-size: 8pt;
  opacity: 0;
  transition: 0.2s ease-in-out;
  display: none;
}
.playersInGame::before {
  content: "Players";
  transform: translate(-25px, -40px);
}

.cardDecks::before {
  content: "Card decks";
  transform: translate(-135px, -68px);
}

.cardInHand::before {
  content: "Card in hand";
  transform: translate(-153px, -163px);
}

.actions::before {
  content: "Actions";
  transform: translate(-112.5px, -38px);
}

/* body::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}


body::-webkit-scrollbar-track {
  background-color: #fff;
}


body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}


body::-webkit-scrollbar-button {
  display:none;
} */

::-webkit-scrollbar {
  display: none;
}

/* *{outline: 1px solid red;} */

.DISABLED {
  filter: grayscale(100%);
}

.current-player-status {
  position: fixed;
  font-weight: 500;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  padding: 0.5em;
  border-radius: 5px;
  top: 50px;
  right: 320px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: 200;
}

.turns-remaining {
  z-index: 1;
  position: fixed;
  top: 105px;
  right: 320px;
  padding: 0.2em;
  background-color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  border-radius: 5px;
}

.main-game-container {
  width: 80%;
  margin: 0 auto;
}

.rules-container-outer {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20vh;
}

.rules-container-inner {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 1em;
}

.rules-list {
  list-style: upper-alpha;
  list-style-type: lower-alpha;
  margin-left: 3em;
}

.play-btn {
  /* display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 224, 15);
  border-radius: 10px;
  border: rgb(47, 47, 47) 1px solid;
  color: white;
  font-size: 25pt;
  font-weight: 600;
  height: 100%;
  width: 20%;
  scale: 0.9;
  cursor: pointer; */
  border: rgb(4, 174, 4) 5px solid;
  background-color: rgb(27, 211, 27);
  transition: 0.15s ease-in-out;
  scale: 1;
  width: 15%;
  color: white;
  border-radius: 5px;
  padding: 0.5em 0.5em;
  font-size: 15pt;
}

.play-btn:hover {
  background-color: rgb(0, 189, 13);
  cursor: pointer;
}

.card-img-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-top: 1em;
  && h1 {
    font-size: 3em;
  }
}

.post-game-card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-gap: 1.2rem;
  justify-content: center;
  align-content: flex-start;
  margin: 30px auto;
  padding: 1em;
  padding:  1em 20%;
  border-radius: 10px;
  background-color: rgb(204, 198, 187);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}


.header-post-game {
  width: 80vw;
  margin: 0 auto;
  padding: 2em;
  && button {
    border: none;
    background-color: green;
    color: white;
    padding: 0.5em;
    margin-bottom: 1em;
    transition: 0.1s ease-in-out;

    &&:hover{
      scale: 1.01;
      cursor: pointer;
    }
  }

  && h2{
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 450;
  }

  && input {
    height: 1.7em;
    font-size: 12pt;
    width: 100%;
    padding: 16px 16px;
  }

  && p {
    max-width: 60ch;
  }
}

.post-game-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em 0;
  max-width: 300px;
  gap: 1em;
  border-radius: 10px;
  /* border: 1px solid rgb(0, 0, 0); */
}
